/* defining the main flex container that will split the document in two*/
.main-body-container{
    display: flex;
    background-color: white;
    place-content: center;
    height: 100vh;
}

/*defining the left and right flex container*/
.main-body-container > div.left-side{
    display: flex;
    margin: 10;
    padding: 0;
    flex-direction: column;
    place-content: space-between;
    flex-basis: 280px;
    
}

.main-body-container > div.right-side{
    display: flex;
    flex-wrap: warp;
    margin: 0;
    padding: 0;
    flex-direction: column;
    background-color: white;
    place-content: space-between;
    flex-basis: 600px;
}

/* defining the flex items of the left part*/
.left-side > .header{
    flex-basis: 10%;
    background-color: darkred;
    border: 2px solid black;
}

.name{
    position: relative;
    flex-basis: 20%;
    text-align: center;
    background-color: white;

}


.image{
    flex-basis: 20%;
    text-align: center;
}

.contact{
    flex-basis: 20%;
    text-align: left;
    margin-left: 10%;

}

.languages{
    flex-basis: 20%;
    text-align: left;
    margin-left: 10%;
}

.left-side > .footer{
    flex-basis: 10%;
    background-color: white;
    border: 2px solid black;
}

/* defining the flex items of the right part*/
.right-part > .header{
    flex-basis: 10%;
    background-color: white;
    border: 2px solid black;
}

.summary{
    flex-basis: 20%;
    text-align: left;
    margin-left: 5%;

}

.experience{
    flex-basis: 20%;
    text-align: left;
    text-justify: right;
    margin-left: 5%;
}

.hobbies{
    flex-basis: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 50%;
}

/* defining the left list nad right lists classes; the flex items of hobbies */
.hobbies > .left-list{
    flex-basis: 50%;
    place-content: space-between;
}

.hobbies > .right-list{
    flex-basis: 50%;
    place-content: space-between;
}

.education{
    flex-basis: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
    margin-left: 5%;
}

/* defining the rows and data of the education table */
.education > .row{
    flex-basis: 33.3%;
    display: flex;
    flex-wrap: wrap;
}

.row > .col1{
    flex-basis: 40%;
}

.row > .col2{
    flex-basis: 40%;
}

.row > .col2{
    flex-basis: 20%;
}

.right-part > .footer{
    background-color: darkred;
    border: 2px solid black;
}

/*defining other styles for different tags */

img.round{
    border-radius: 50%;
}


ul{
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}

p{
    text-justify: right;
}
